@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* targets every element */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.App-header {
  /* background-color: #282c34;
  min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}
a.link {
  color: #000;
}
a.link:hover,
a.link:active {
  color: #f13564;
}
button.btn1 {
  background-color: #f13564;
  color: #fff;
}

.active {
  opacity: 0;
}
.card,
.content {
  /* height: auto; */
  width: 40rem;
  border-bottom: 3px solid rgb(148, 134, 129);
}
.card:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
}
img,
.card-img-top {
  height: 70px;
  width: 70px;
}
.image {
  width: 200px;
  height: 200px;
}
